.game-block {
    margin: 0.05rem;
}

.game-block .overlay {
    display: block;
    padding-top: 100%;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.17);
    border-radius: 8px;
}

.game-block .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

.game-block .content .title {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.moveAvaliable .game-block .overlay:hover,
.moveAvaliable .game-block .overlay.selected {
    background: #e6e6e6;
}

.powerup {
    position: relative;
    border-radius: 5px;
    max-width: 180px;
    display: block;
    margin: auto;
    opacity: 0.5;
    height: 242px;
    border: 4px solid rgba(0,0,0,.125);
}


.powerup.selected,
.powerup.avaliable:hover {
    opacity: 1;
    cursor: pointer;
}

.powerup .content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.powerup .content .title {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.powerup:after {
    content: "";
    display: block;
    padding-top: 100%;
}

#powerup-accordian .card-header {
    cursor: pointer;
}

.move-text {
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    left: 45%;
    position: absolute;
}

.moveInProgress {
    opacity: 0.3;
}

.gameFinished {
    opacity: 0.1;
}

.player-block {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.17);
}

.score-medal.first {
    color: #C98910
}
.score-medal.second {
    color: #A8A8A8
}
.score-medal.third {
    color: #965A38
}